

:root{
    --primaryColor: #00838F;
    --primaryLightColor: #4FB3BF;
    --primaryDarkColor: #005662;

    --secondaryColor: #FBC02D;
    --secondaryLightColor: #FFF263;
    --secondaryDarkColor: #C49000;

    --classicColor: #414141;
    --classicColor2: #606267;
    --classicColor3: #ECECEC;
    --classicColor4: #FFFFFF;

    --colorButtonDisabled:#ececec;
    --colorButtonInformation:#4FB3BF;
    --colorButtonDanger:#fb3939;
    --colorButtonAlert:#fac02e;
    --colorButtonValidate:#b0d41c;

}

#connectionForm{
    max-width: 50%;
    padding: 5% 15% 5% 15%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.15);   
}

h1{
    color:red;
}

#mainNav li>a{
    color:white;
}

.active{
    background-color: var(--secondaryColor);
}
.active>a{
    color:var(--classicColor2) !important;
}

.navnesti{
    color:var(--classicColor4);
    background-color:var(--primaryDarkColor);
    width: 65%;
}

.logOut{
    width : 35%;
}

#mainNav form>a{
color: var(--classicColor2);
}

#connectionPage{
    background-image:url("../pictures/bg-nesti.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#connectionPage button{
    background-color: #51b1c1;
    width: 40%;
}


#recipePage h2{
    color: #00595a;
}

#recipePage thead{
    background-color:#00838f ;
    color: white;
}

#searchRecipe{
    position: absolute;
    width: 10%;
    left : 2%;
}

#customSearch{
    margin: 0;
    padding-left: 50px;
}

#addRecipe{
    position: absolute;
    left: 2%;
    width: 20%;
    z-index: 2;
}

#btnAddRecipe{
    position: relative;
    margin: 0;
    padding-left: 50px;
}