

:root{
    --primaryColor: #00838F;
    --primaryLightColor: #4FB3BF;
    --primaryDarkColor: #005662;

    --secondaryColor: #FBC02D;
    --secondaryLightColor: #FFF263;
    --secondaryDarkColor: #C49000;

    --classicColorDark: #414141;
    --classicColorGrey: #606267;
    --classicColorLight: #ECECEC;
    --classicColorWhite: #FFFFFF;

    --colorButtonDisabled:#ececec;
    --colorButtonInformation:#4FB3BF;
    --colorButtonDanger:#fb3939;
    --colorButtonAlert:#fac02e;
    --colorButtonValidate:#b0d41c;

}

body{
    font-family:"Nunito",sans-serif !important;
}

#connectionForm{
    max-width: 50%;
    padding: 5% 15% 5% 15%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.15);   
}

h2{
    font-weight: bolder;
    color: #00595a;
}

h3{
    font-weight: bold;
    color: #00595a;
}
h4{
    font-weight: bold;
    color: #00595a;
}

#mainNav li>a{
    color:white;
}

#mainNav li{
    background-color: var(--primaryColor);
    border-radius: 5px;
}

#mainNav .active{
    background-color: var(--secondaryColor);
}
.active>a{
    color:var(--classicColorGrey) !important;
}

.navnesti{
    color:var(--classicColorWhite);
    background-color:var(--primaryDarkColor);
    width: 65%;
}

.logOut{
    width : 35%;
}

#mainNav form>a{
color: var(--classicColorGrey);
}

#connectionPage{
    background-image:url("../pictures/icons/bg-nesti.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

#logoNesti>img{
    width: 50%;
    height: 50%;
}

#connectionPage button{
    background-color: var(--colorButtonInformation);
    width: 40%;
}



#searchUser{
    position: absolute;
    width: 10%;
    left : 2%;
}


#customSearchUser{
    margin: 0;
    padding-left: 50px;
}

#addUser{
    position: absolute;
    left: 2%;
    width: 20%;
    z-index: 2;
}





#btnAddUser{
    position: relative;
    margin: 0;
    padding-left: 50px;
}

.underLink>a,.underLink>p{
    color:var(--primaryLightColor);
}

#submitNewUser,#submitEditRecipe, #okRecipe{
    background-color:var( --colorButtonValidate);
}

#cancelNewUser ,#cancelEditRecipe{
    background-color:var( --colorButtonInformation);
    color: var(--classicColorWhite);
}

#addParagraphEditRecipe>div{
    color: var(--primaryLightColor);
    font-size: 50px;
}

#deleteEditArticle{
    background-color:var(    --colorButtonDanger);
    color: var(--classicColorWhite);
}

#addParagraphEditRecipe{
    width: 100%;
    background-color: var(--classicColorWhite) ;
    border:1px dashed rgb(184, 183, 183);
}



  .btn-remove-ingredients{
      color:var(--colorButtonInformation);
    cursor: pointer;
  }

  .custom-file-input ~ .custom-file-label::after {
    content: "choisir";
}


#buttonAddRecipePicture{
    background-color: var(--colorButtonValidate);
    color:var(--classicColorWhite);
}

#file-upload-button{
    content:"chose a file";
}


/*------------------------------------ articles content -------------------------------*/

#allArticlesPage .fixed-table-container{
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25), 0 5px 7px 0 rgba(0, 0, 0, 0.25);  
    
}

#allArticlesPage thead{
    background-color:var(--primaryColor) ;
    color: var(--classicColorWhite);
}

#searchArticle{
    position: absolute;
    width: 10%;
    left : 2%;
}


#customSearchArticle{
    margin: 0;
    padding-left: 50px;
}

#btnSeeOrders{
    background-color: var(--secondaryColor);
}

#btnImportArticle{
    position: relative;
    margin: 0;
    padding-left: 50px;
}

#svgImportArticle{
    position: absolute;
    left: 2%;
    width: 20%;
    z-index: 2;
}

.btn-delete-article, .btn-modify-article{
    color:var(--colorButtonInformation);
    cursor: pointer;
}


/*------------------------------------ article import -------------------------------*/
#importArticlePage .underLink>a,#importArticlePage .underLink>p{
    color:var(--primaryLightColor);
}

#importArticle{
    background-color: var(--colorButtonValidate);
    color: var(--primaryDarkColor);
    width: 30%;
}

.listOrderLines{
    min-width: 400px;
    min-height: 200px;
}

.btn-edit-article{
    color:var(--colorButtonInformation);
    cursor: pointer;
}

/*------------------------------------ article orders -------------------------------*/
#ordersPage thead{
    background-color:var(--primaryColor) ;
    color: var(--classicColorWhite);
}

#ordersPage .underLink>a,#ordersPage .underLink>p{
    color:var(--primaryLightColor);
}

#searchOrder{
    position: absolute;
    width: 10%;
    left : 2%;
}


#customSearchOrder{
    margin: 0;
    padding-left: 50px;
}

#listOrderLines{
    min-width: 400px;
    min-height: 200px;
}

#orderSeeArticle{
    color:var(--colorButtonInformation);
    cursor: pointer;
}

.btn-see-article{
    color:var(--colorButtonInformation);
    cursor: pointer;
}

/*------------------------------------ article edit -------------------------------*/

#articleEditPage .underLink>a,#articleEditPage .underLink>p{
    color:var(--primaryLightColor);
}

#articlePictureEdit{
    width: 100%;
    height: 70%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.articlePictureBin{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
}
.articlePictureBin img{
    width: 20px;
    height: 20px;
    background-color: red;
}

#InputFileEditArticle{
    color:black;
}
#submitEditArticle, #btn-edit-article-picture{
    background-color:var( --colorButtonValidate);
}

/*------------------------------------ recipes content -------------------------------*/

#allRecipePage .fixed-table-container{
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25), 0 5px 7px 0 rgba(0, 0, 0, 0.25);  
    
}

#allRecipePage thead{
    background-color:var(--primaryColor) ;
    color: var(--classicColorWhite);
}

#searchRecipe{
    position: absolute;
    width: 10%;
    left : 2%;
}

#btnAddRecipe{
    position: relative;
    margin: 0;
    padding-left: 50px;
}

#svgAddRecipe{
    position: absolute;
    left: 2%;
    width: 20%;
    z-index: 2;
}


#customSearchRecipe{
    margin: 0;
    padding-left: 50px;
}

.btn-delete-recipe, .btn-modify-recipe{
    color:var(--colorButtonInformation);
    cursor: pointer;
}

/*------------------------------------ recipe add content -------------------------------*/

#recipeAddPage .underLink>a,#recipeAddPage .underLink>p{
    color:var(--primaryLightColor);
}

#submitNewRecipe{
    background-color:var( --colorButtonValidate);
}

#cancelNewRecipe{
    background-color:var( --colorButtonInformation);
    color: var(--classicColorWhite);
}

#pictureAddRecipe{
    width: 100%;
    height: 70%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#recipeImgUpload{
    content:none;
}

#addParagraphNewRecipe{
    width: 100%;
    background-color: var(--classicColorWhite) ;
    border:1px dashed rgb(184, 183, 183);
}

#addParagraphNewRecipe>div{
    color: var(--primaryLightColor);
    font-size: 50px;
}

#recipeAddPage .paragraphAddRecipe[readonly]{
    background-color:red;
    box-shadow: none;
  }
 
  #recipeAddPage .paragraphAddRecipe{
      resize: none;
  }

  #recipeAddPage .paragraphIcons{
      width: 20px;
      display:flex;
      flex-direction:column;
      justify-content: center;
  }

  #recipeAddPage .paragraphIcons img{
      margin-bottom: 5px;
  }

  #recipeAddPage textarea{
      width: 90%;
  }

  #recipeAddPage .deleteSvg{
    padding: 2px;
    background-color: red;
    cursor: pointer;
  }

  #recipeAddPage .upSvg{
    padding: 2px;
    background-color: var(--secondaryColor);
    cursor: pointer;
  }

  #recipeAddPage .downSvg{
    padding: 2px;
    background-color: var(--secondaryColor);
    cursor: pointer;
  }

  #btn-add-recipe-picture{
    background-color:var( --colorButtonValidate);
}

#recipePictureAdd{
    width: 100%;
    height: 70%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#okIngredientAddRecipe{
    background-color:var( --colorButtonValidate);
}

#okParagraphAddRecipe{
    background-color:var( --colorButtonValidate);
}

.btn-delete-ingredient{
    color:var(--colorButtonInformation);
    cursor: pointer;
}

